.empurrar{
  margin-bottom: 10%;
}
.form {
  margin-top: 40%;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(182, 236, 186); 
  border-radius: 30px; 
  padding: 20px; 
}

.h1 {
  font-family: Ubuntu-Bold;
  font-size: 2em; 
  color: #000000;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.input {
  width: 70%;
  height: 2.5em; 
  margin-left: 10%;
  font-family: Ubuntu-Regular;
  font-size: 1.2em; 
  color: #000000;
  line-height: 1.2;
  display: block;
  background: transparent;
  padding: 0 1em 0 2em;
  border: 1px solid rgb(43, 255, 0);
  border-radius: 5px;
  margin-bottom: 1.5em;
  transition: all 0.4s;
}

.input:focus {
  outline: none;
  border-color: rgb(24, 212, 80);
}

.button{
  width: 85%;
  margin-left: 9%;
  height: 3em;
  font-family: Ubuntu-Bold;
  font-size: 1.2em; 
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-transform: uppercase;
  display: inline-block;
  background: #18d495;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 5%;
}
.voltar{
  width:  85%;
  margin-left: 9%;
  height: 3em;
  font-family: Ubuntu-Bold;
  font-size: 1.2em; 
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-transform: uppercase;
  display: inline-block;
  background: #18d495;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  transition: all 0.4s;
}

.button:hover, .voltar:hover {
  background-color: transparent;
  color: #d41872;
}

.link {
  text-decoration: none;
}

.validate-input {
  position: relative;
}
@media (max-width: 767px) {
 
  .input {
    padding: 0 1em; 
  }

  .button, .voltar {
    width: 100%;
  }
}
